<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<h2>Atualizar Exame</h2>
	<form action="#" th:action="@{/atualisar/{id}(id=${exame.id})}"
		th:object="${exame}" method="post">

		<div>
			<label for="nome">Nome</label> <input type="text"
				th:field="*{nome_paciente}" placeholder="Nome">
		</div>

		<div>
			<label for="exame">Exame</label> <input type="text"
				th:field="*{nome_exame}" placeholder="Exame">
		</div>

		<div>
			<label for="resultado">Resultado</label> <input type="text"
				th:field="*{resultado}" placeholder="Resultado">
		</div>

		<label for="data">Data do Exame</label> <input type="date"
			th:field="*{data_exame}">

		<div>
			<input type="submit" value="Update User">
		</div>

	</form>

</body>
</html>