<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<form action="#" th:action="@{/cadastarExame}" th:object="${exame}"
		method="post">
		<div>
				<div>
					<label for="Nome">Nome</label>
					<input type="text" th:field="*{nome_paciente}" placeholder="Nome">
				</div>
				<div>
					<label for="Exame">Exame</label> 
					<input type="text"	th:field="*{nome_exame}" placeholder="Exame">
				</div>
				<div>
					<label	for="Resultado">Resultado</label> 
					<input type="text"	th:field="*{resultado}" placeholder="Resultado"> 
				</div>
				<div>
					<label	for="data">Data do Exame</label>
					<input type="date" th:field="*{data_exame}">
				</div>
		</div>
		<input type="submit" value="Cadastrar">
		<a href="\index">Voltar</a>
	</form>
</body>
</html>